<h1>Book detail</h1>

 <table>
   <thead>
     <tr>
       <th></th>
       <th></th>

     </tr>
   </thead>
   <tbody>
      <tr>
          <td><%= @book.title %></td>
          <td><%= @book.body %></td>
          <td><%= link_to "Edit", edit_book_path(@book) %></td>
          <td><%= link_to "Destroy", book_path(@book), method: :delete, "data-confirm" => "本当に消しますか？" %></td>
      </tr>
   </tbody>
 </table>


