<h1>Book detail</h1>

 <table>
   <thead>
     <tr>
       <th></th>
       <th></th>

     </tr>
   </thead>
   <tbody>
      <tr>
          <td><%= @book.title %></td>
          <td><%= @book.body %></td>

      </tr>
   </tbody>
 </table>


